.team {
  padding: 0px 40px 20px 40px;
  background-color: #296aeb;
  border-radius: 10px;
  border: 3px solid black;
}

.teamHeading {
  padding: 0px 20px 0px 20px;
  border-radius: 0px 0px 10px 10px;
}

.ownedAxiesHeading {
  font-size: 30px;
  text-decoration: underline;
}

.ownedAxiesTotal {
  padding: 1px 2px 1px 2px;
  border: 1px solid black;
  font-weight: 800;
  margin-left: 10px;
}

.scroll {
  background-position: center;
  background-size: 100%;
  padding-bottom: 40px;
  width: 100%;
}

.scrollArrow {
  color: white;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.scrollArrow * {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.scrollArrow:hover {
  cursor: pointer;
}

.axieList {
  margin-left: 10px;
  margin-right: 10px;
  overflow-x: scroll;
  overflow-y: auto;
}

.axieList::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

@media screen {}

@media screen and (min-width: 768px) {
  .axieList::-webkit-scrollbar {
    display: none;
  }

  .registeredAxieList::-webkit-scrollbar {
    display: none;
  }
}

.axieList::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.axieList::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.axieList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.registeredAxieList::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

.registeredAxieList::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.registeredAxieList::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.registeredAxieList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.axieList2 {
  margin-left: 10px;
  margin-right: 10px;
}

.axieList2::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

.axieList2::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.axieList2::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.axieList2::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.axieCard {
  padding: 10px;
  transform: translateY(0);
  transition-duration: 0.3s;
  width: 300px;
}

.axieCardImage {
  width: 170px;
  position: absolute;
  /* top: -8.75px;
  left: -17.5px; */
  /* margin: -10px 0 0 -20px; */
  right: -20px;
  top: -4px;
  /* width: 100%; */
  /* margin: auto; */
}

.axieCard:hover {
  cursor: pointer;
  transform: translateY(-4px);
  transition-duration: 0.3s;
}

.axieCard_top {
  /* display: flex; */
  width: 100%;
  height: 100%;
  /* text-align: center; */
}

.axieCard_bot {
  display: flex;
  height: 100%;
  text-align: center;
}

.axieFilter {
  width: 100%;
}

.nameInput {
  width: 200px !important;
  border: 1px solid black !important;
  border-radius: 10px !important;
}

.pageInput {
  width: 60px !important;
  border: 1px solid black !important;
  border-radius: 10px !important;
}


.partContainerPedestal {
  margin: 2px 2px 0px 0px;
  max-width: 130px;
  font-size: 12px;
}

.partContainerCard {
  max-width: 140px;
}

.pedestal {
  padding: 15px;
  align-items: center;
  width: 90%;
  margin-top: 8px !important;
}

.placeholder {
  width: 80%;
  border-radius: 15px;
  box-shadow: 4px 8px 5px 0px rgb(0 0 0 / 40%);
}

.axieNumber {
  color: black;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  border-radius: 100px;
  padding: 3px 15px 3px 15px;
}